.ettn-nav-bar{
  height: 50px;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  @include themify($themes){
    background-color: themed('primaryColor');
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    li,a{
      appearance: none;
      text-decoration: none;
      @include themify($themes){
        color: themed('fgColor');
      }
    }
  }
}