<div class="contact">
    <h1>Contact</h1>
    <form method="post" action="/" @submit="submit">
        <div class="contact-from ettn-grid column center">
            <div class="ettn-grid column center">
                <div>
                    <div>
                        Name
                    </div>
                    <input type="text" class="nameInput" v-model="name">
                </div>
                <div>
                    <div>
                        Msg
                    </div>
                    <textarea  v-model="msg"></textarea>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>