.about{
  h1{
    color: deeppink;
  }

  img{
    width: auto;
    height: 100%;
  }

  .about-grid{


    .box{
      width: 350px;
      height: 350px;
      @include themify($themes){
        background-color: themed("bgPanel");
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
      }

      border-radius: 3px;
    }

    .img-box{
      img{
        width: auto;
        height: 100%
      }
    }

    .info-box{

      .row-bar{
        flex-grow: 0;
        width: 5px;
        margin-right: 5px;
      }

      >div{

        margin: 0 10px;

        >div:nth-child(odd){
          @include themify($themes){
            background-color: darken(themed("bgPanel"),4%);
            .row-bar{
              background-color: themed("primaryColor");
            }
          }

        }

        >div:nth-child(even){
          @include themify($themes){
            background-color: darken(themed("bgPanel"),2%);
            .row-bar{
              background-color: themed("secondaryColor");
            }
          }

        }

        >div:first-child{
          margin-top: 10px;
        }

        >div{
          min-height: 50px;

          >div{
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          div{
            text-align: left;
            width: 100px;

          }

          .label{
            flex-grow: 1;
          }

          .input{
            flex-grow: 2;
          }
        }
      }

    }

    .box-of-doom {
      display: flex;
      flex-direction: column;

      .content{
        margin: 0 40px;
      }

      .item {
        flex-grow: 1;
        width: 50%;
      }

      .left{
        align-self: flex-start;
      }

      .center{
        align-self: center;
      }

      .right{
        align-self: flex-end;
      }

      .top{

      }

      .center2{
        flex-grow: 2;
      }

      .bottom{
        flex-grow: 1;
      }


    }
  }

  .ettn-grid{
    display: flex;

    &.row{
      flex-direction: row;

      &.center{
        justify-content: center;
      }

      &.space-around{
        justify-content: space-around;
      }
    }

    &.column{
      flex-direction: column;

      &.center{
        justify-content: center;
      }

      &.start{
        justify-content: flex-start;
      }

      &.end{
        justify-content: flex-end;
      }
    }
  }
}