<div class="about">
    <h1>This is about page.</h1>
    <div class=" about-grid ettn-grid row center ">
        <div><img src="http://www.placecage.com/c/500/500"></div>
        <div class="info-box ettn-grid column start">
            <div class=" ettn-grid row">
                <div>name</div>
                <div>mr. horse</div>
            </div>
            <div class=" ettn-grid row">
                <div>occupation</div>
                <div>common horse job</div>
            </div>
            <div class=" ettn-grid row">
                <div>horse facts</div>
                <div>horses are beautiful creatures</div>
            </div>
        </div>
        <div class="box-of-doom">
            <div class="left item ettn-grid row">
                <div class="top">top</div>
                <div class="center2">center</div>
                <div class="bottom">bottom</div>
            </div>
            <div class="center item">

            </div>
            <div class="right item">

            </div>
        </div>
    </div>
</div>