.skill-details{
  .container{
    .img{
      @include themify($themes){
        background-color: themed('bgPanel');
      }
    }
    .content{
      padding: 10px;
      @include themify($themes){
        background-color: themed('bgPanel');
      }

      .rating{
        ul{
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 0;

          li{
            margin: 0px 2px;
          }
        }
      }
    }
  }

}