.skills{
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li{
      margin: 10px;
      background-color: rgba(0, 0, 0, 0.30);

      .card{
        border-radius: 2px;
        box-shadow: 1px 1px 1px 0px  black;
        .image{
          img{
            width: 200px;
            height: 100px;
            object-fit: scale-down;
          }
        }
        .content{
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 50px;
          border-radius: 2px;
          box-shadow: 1px 1px 1px 0px  black;
          background-color: rgba(0, 0, 0, 0.40);
        }
      }
    }
  }
}